/* CSS by Abby Napier YOUR NAME */

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Root Variables */
:root {
  --blue-bulletin: #1D3557;
  --news-flash: #E63946;
  --watchdog-white: #F1FAEE;
  --truth-text: #333;
  --story-subtitle: #457B9D;
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: 'Merriweather', serif;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  --transition: all 0.5s ease;
}

/* Manual Light/Dark Mode Styles*/
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}
body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}
button#theme-toggle,
#theme-toggle {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 70px;
  height: 70px;
  min-width: 70px;  
  max-width: 70px; 
  border-radius: 50%;
  background-color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  flex: 0 0 auto;        
  appearance: none;
  -webkit-appearance: none;
  z-index: 1;
}
/*Skip Link*/
.skipLink{
  position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

/*Heading*/
header{
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  padding: 4rem;
}
header h1{
  font-family: var(--font-heading);
  font-size: 3rem;
  margin-left: 1rem;
  padding-bottom: 15px;
}


/*NAV small*/
.menu-button {
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  padding: 20px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  display: block;
  width: 300px;
  margin: 0 auto;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.mobile-nav {
  margin: 0 auto;
  display: block;
  text-align: center;
}

/* -------------------------------
   MENU ITEMS
---------------------------------*/
.menu {
  display: none; 
  text-align: center;
  background-color: var(--news-flash);
  box-shadow: var(--shadow);
  z-index: 1;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  width: 300px;
}

.menu li {
  margin: 4px 0;
  border: 2px solid transparent;
  transition: background-color 0.3s ease, border 0.3s ease;
}

.menu a {
  color: var(--watchdog-white);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
#menu-toggle:checked + .menu-button {
  background-color: var(--blue-bulletin); 
  border: 2px solid var(--news-flash);                 
  color: var(--watchdog-white);           
}

.menu li:hover {
  background-color: var(--blue-bulletin); 
  border: 2px solid var(--news-flash);                  
}

.menu li:hover a {
  color: var(--watchdog-white);
}

/*Text Styles */
p{
  font-family: var(--font-body);
  font-size: 20px;
}
h2{
  font-family: var(--font-heading);
  font-size: 2rem;
}
h3{
  font-family: var(--font-heading);
  font-size: 1.5rem;
}
.tagline{
    margin-left: 1rem;
   font-weight: bold;
    padding-bottom: 15px;
    font-size: 20px;
    font-family: var(--font-heading);
}

/* main styles*/
body{
  background-color: var(--watchdog-white);
}
main{
  margin: 0 auto;
  max-width: 95%;
  padding: 2rem 0;
  
}
#intro h2{
  padding-bottom: 1rem;
}
#intro blockquote{
  text-align: center;
  padding-top: 1rem;
}
#intro p{
  line-height: 1.5;
}

.breakingVid1, .breakingVid2{
  background-color: var(--news-flash);
  display: grid;
  grid-template-columns: 1fr;
  color: var(--watchdog-white);
  max-width: 90%;
  margin: 1rem auto;
  overflow-wrap: break-word;
  word-break: break-word;
  box-shadow: var(--shadow);
}
.breakingVid1:hover, .breakingVid2:hover{
  transform: scale(1.01);
   transition: transform 0.5s ease;
}
.breakingVid1 video, .breakingVid2 video {
  width: 90%;
  height: auto;
  display: block;
  margin: 20px auto;
}

.breakingVid1 h3, .breakingVid2 h3{
  border-bottom: 2px solid var(--watchdog-white);
  margin: 15px;
}

.breakingVid1 p, .breakingVid2 p{
  margin: 0 15px;
}
.articlesClass{
  max-width: 90%;
  display: grid;
  margin: .5rem auto;
}
.art1, .art2, .art3, .art4, .art5, .art6, .art7, .art8
, .art9, .art10, .art11, .art12{
  border-style: solid;
  border-width: 1px;
  border-color: var(--truth-text);
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: var(--shadow);
}

.art1 h3, .art2 h3, .art3 h3, .art4 h3, .art5 h3, .art6 h3, .art7 h3, .art8 h3
, .art9 h3, .art10 h3, .art11 h3, .art12 h3{
  border-bottom: 2px solid var(--truth-text);
  margin: 15px;
}  
body.dark-mode .articlesClass h3 {
  border-bottom: 2px solid var(--blue-bulletin);
  margin: 15px;
}
body.dark-mode .articlesClass{
  border-style: solid;
  border-width: 1px;
  border-color: var(--blue-bulletin);
}
.art1 p, .art2 p, .art3 p, .art4 p, .art5 p, .art6 p, .art7 p, .art8 p
, .art9 p, .art10 p, .art11 p, .art12 p{
  margin: 15px;
  line-height: 1.2;
}

.art1:hover, .art2:hover, .art3:hover, .art4:hover, .art5:hover, .art6:hover, .art7:hover, .art8:hover
, .art9:hover, .art10:hover, .art11:hover, .art12:hover{
  transform: scale(1.01);
   transition: transform 0.5s ease;
}
#contact h2{
margin-bottom: 10px;
}
form {
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  padding: 10px;
  margin-top: 10px;
  font-family: var(--font-body);
  font-size: 20px;
  box-shadow: var(--shadow);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 500px; 
}

.topForm {
  display: flex;
  flex-direction: column; 
  gap: 1rem;
  margin-bottom: 1rem;
}

.formGroup {
  display: flex;
  flex-direction: column; 
  margin-bottom: 1rem;
  width: 100%; 
}

.formGroup label {
  margin-bottom: 0.3rem;
  font-weight: bold;
  text-align: left;
}

.formGroup input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}


fieldset {
  border: 1px solid var(--truth-text);
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

fieldset legend {
  margin: 5px;
  font-weight: bold;
}


button {
  width: 100%;
  max-width: 20rem;
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  display: block;
  margin: 10px auto;
  padding: 15px;
  font-size: 22px;
  box-shadow: var(--shadow);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

button:hover {
  background-color: var(--watchdog-white);
  color: var(--blue-bulletin);
  border: 1px solid var(--blue-bulletin);
}
footer{
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
   min-height: 15rem;   
  padding: 2rem; 
   display: flex;           
  flex-direction: column;  
  justify-content: space-between; 
  align-items: flex-start; 
}

footer a{
  text-decoration: none;
  color: var(--watchdog-white);
  background-color: var(--news-flash);
  padding: 10px;
  display: inline-block;
}

footer a:hover{
  background-color: var(--blue-bulletin);
  border: 1px solid var(--news-flash);
}
.footerGrid{
  margin-top: 20px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(2, auto);
  row-gap: 1rem;
  column-gap: 1rem;
  width: max-content;
}

footer p{
 text-align: center;
  margin: 0;
  align-self: center; 

}
input[type="checkbox"]{
  width: 20px;  
  height: 20px;
}
input[type="checkbox"]:checked {
  accent-color: var(--blue-bulletin);
}
/* ///ADD/// medium styles 620px */
@media only screen and (min-width: 620px) {
  form {
    max-width: 70%;
  }

  .topForm {
    flex-direction: row; 
    gap: 2rem;
  }

  .formGroup {
    flex: 1;           
    margin: 0;          
    width: auto;        
  }

  .formGroup label,
  .formGroup input {
    width: 100%; 
  }

  fieldset {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem 1rem;
    width: 100%;
    margin: 0 0 1rem 0;
  }
  .newsVids{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .articlesClass{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .footerGrid{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    float: left;
    gap: 20px;
  }
.menu-button{
  display: none;
}
.menu{
  display: grid; grid-template-rows: 1fr; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  width: fit-content; column-gap: 20px; 
  background-color: transparent; 
  box-shadow: none;
  margin: 0;
  text-align: left;
}
.menu li{
  background-color: var(--news-flash);

 
}
button{
  min-width: 25rem;
}



}

/* ///ADD/// large styles 920px */
@media only screen and (min-width: 920px) {
  fieldset {
    grid-template-columns: repeat(3, 1fr);
  }
  main{
    max-width: 700px;
  }
  button{
  min-width: 30rem;
}
}

/* ///ADD/// x-large styles 1024px */
@media only screen and (min-width: 1024px){
  .articlesClass{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
  main{
  max-width: 1000px;
}
}


@media (prefers-color-scheme: dark) {
  body {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}
 .articlesClass h3 {
  border-bottom: 2px solid var(--blue-bulletin);
  margin: 15px;
}
 .articlesClass{
  border-style: solid;
  border-width: 1px;
  border-color: var(--blue-bulletin);

}

}

@media (prefers-color-scheme: light) {
  body {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}
}


@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
    animation: none !important;
  }
}
@supports (selector(:has(*))) {

  .mobile-nav:has(#menu-toggle:checked) .menu {
    display: block;
  }

  .mobile-nav:has(#menu-toggle:checked) .menu-button {
    background-color: var(--blue-bulletin);
    color: var(--watchdog-white);
  }


  .mobile-nav:has(#menu-toggle:checked) .menu li:hover {
    background-color: var(--blue-bulletin); 
    border: 2px solid var(--news-flash);                  
    transition: background-color 0.3s ease, border 0.3s ease;
  }

  /* Optional: Hover effect for links inside menu */
  .mobile-nav:has(#menu-toggle:checked) .menu li:hover a {
    color: var(--watchdog-white);
  }
}